@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1B1726;
   
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), 
    url(images/Wall.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #e5b06f;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}


.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #e5b06f;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    padding: 0 200px;
}
.header-txt {
    text-align: center;
}

.header-txt h1 {
    font-size: 55px;
    color: #ffffff;
    line-height: 1.4;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: #e0e0e0;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 35px;
    background-color: #e5b06f;
    color: #ffffff;
}

.about {
    padding: 100px 0;
    display: flex;
}

.about-img {
    flex-basis: 40%;
    padding-right: 70px;
}

.about-img img {
    border-radius: 15px;
}

.about-txt {
    flex-basis: 60%;
}

h2 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 15px;
}

.products {
    text-align: center;
    margin-bottom: 100px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;

}

.product-1 {
    background-color: #2A223A;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


.product-1 img {
    width: 100px; 
}

.product-1 h3 {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0;
}

.product-1 span {
    display: block;
    color: #e5b06f;
    margin-bottom: 15px;
}

.footer {
    background-color: #100d16;
}

.footer-content {
    padding: 100px 0;
    display: flex;
}

.footer-1 {
    flex-basis: 50%;
    padding-right: 100px;
}

.footer-2{
    flex-basis: 50%;
}

@media(max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1B1726;
        display: none;
    }


    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-content {
        padding: 0;
    }
    
    .about {
        padding: 30px;
        flex-direction: column;
    }

    .about-img {
        order: 2;
        padding-right: 0;
    }

    .products  {
        padding: 30px;
        margin-bottom: 0;
    }
    .product-content {
   
        grid-template-columns: repeat(1, 1fr);

    
    }

    .footer-content {
        flex-direction: column;
        padding: 30px;
    }
    

    
    
}